@using Microsoft.AspNetCore.Identity;
@using TaskForge.Data;
@inject SignInManager<AppUser> signInManager;
@inject AppDbContext dbContext;
@inject UserManager<AppUser> userManager;
@{
    AppUser? currentUser = null;
    var userId = userManager.GetUserId(User);
    if (userId is not null) currentUser = await userManager.FindByIdAsync(userId);
}


@if (signInManager.IsSignedIn(User))
{   
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Publish"><i class="bi bi-plus-square"></i> Publish Service</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Cart">Cart</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hello, @User.Identity!.Name!
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item" asp-controller="Home" asp-action="Users" asp-route-id="@userId">
                    Your Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Settings">
                    Settings
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                    Logout
                </a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
