@using TaskForge.Models
@model Login
@{
    ViewData["Title"] = "Login";
}

<div class="background-image"></div>
<div class="background-image-wrap"></div>

<div class="container mt-4">
    <div class="d-flex justify-content-center align-items-center w-50 mx-auto">
        <form class="transparent-form w-75 p-3" asp-action="Login" method="post">
            <h2 style="text-align: center; color: #fcfbfb; margin-bottom: 20px;">Login</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <hr class="my-4">
            
            <div class="mb-3 form-floating">
                <input asp-for="Username" class="form-control" placeholder=" "/>
                <label asp-for="Username" class=" text-light">Username</label>
                <span asp-validation-for="Username" class="text-danger" style="color: #fff;"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Password" class="form-control" placeholder=" "/>
                <label asp-for="Password" class="form-label text-light" style="color: #fff;">Password</label>
                <span asp-validation-for="Password" class="text-danger" style="color: #fff;"></span>
            </div>
            <div class="mb-3 form-check">
                <input asp-for="RememberMe" class="form-check-input" />
                <label class="form-check-label" for="RememberMe" style="color: #fff;">Remember me</label>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>

            <hr class="my-4">
            <div class="text-center">
                <p class="mb-0" style="color: #fff;">Don't have an account?</p>
                <a asp-action="Register" class="text-decoration-none">Sign Up</a>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

