@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TaskForge!</h1>
    <p>TaskForge, created by Nicola Stroffolino and George Lefter, is a platform for services. It allows you to buy and offer a wide range of services.</p>
    <p>Whether you're looking for freelance graphic design, programming assistance, or even pet grooming services, TaskForge has you covered!</p>
    <p>Join our vibrant community today and unlock endless possibilities.</p>
    <p>Get started by browsing our <a href="Home/Browse">featured services</a> or creating your own listings!</p>
</div>
