@using TaskForge.Models;
@model ServiceModel;
@{
    ViewData["Title"] = "Publish Service";
}

<div class="text-center w-50 mx-auto">
    <form class="w-75 mx-auto card p-3" asp-controller="Home" asp-action="Publish" method="post" enctype="multipart/form-data">
        <h2 class="text-center text-info mb-3">@ViewData["Title"]</h2>
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group d-flex align-items-center justify-content-center mb-2">
            <label asp-for="Title" class="w-25 text-end"></label>
            <div class="w-75">
                <input type="text" asp-for="Title" placeholder="Title" class="form-control w-75 mx-auto">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group d-flex align-items-center justify-content-center mb-2">
            <label asp-for="Description" class="w-25 text-end"></label>
            <div class="w-75">
                <textarea asp-for="Description" placeholder="Description" class="form-control w-75 mx-auto"></textarea>
            </div>
        </div>
        <div class="form-group d-flex align-items-center justify-content-center mb-2">
            <label asp-for="Price" class="w-25 text-end"></label>
            <div class="w-75">
                <input type="number" min="1" max="@Int16.MaxValue" step="0.1" asp-for="Price" class="form-control w-75 mx-auto">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group d-flex align-items-center justify-content-center mb-2">
            <label asp-for="EstimatedTime" class="w-25 text-end"></label>
            <div class="w-75">
                <input type="text" asp-for="EstimatedTime" class="form-control w-75 mx-auto">
                <span asp-validation-for="EstimatedTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group d-flex align-items-center justify-content-center mb-2">
            <label asp-for="Images" class="w-25 text-end"></label>
            <div class="w-75">
                <input type="file" asp-for="Images" class="form-control w-75 mx-auto" multiple accept="image/*">
            </div>
        </div>

        <div class="form-group d-flex align-items-center justify-content-center">
            <button type="submit" class="btn btn-primary w-25">Publish</button>
        </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}