html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.background-image {
  position: fixed;
  background-image: url('../img/wallpaper.png');
  background-size: cover;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.background-image-wrap {
  position: fixed;
  z-index: -9;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(124, 5, 118, 0.219);
}

.background-image2 {
  position: fixed;
  background-image: url('../img/wallpaper2.png');
  background-size: cover;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.background-image-wrap2 {
  position: fixed;
  z-index: -9;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(10, 3, 107, 0.116);
}

.transparent-form {
  background-color: rgba(94, 95, 4, 0) !important;
  backdrop-filter: blur(10px); 
}

.transparent-form form {
  background-color: rgba(94, 95, 4, 0);  
  backdrop-filter: blur(10px); 
}

.profile-container {
  margin-top: 20px;
}

.profile-picture {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.card-deck .card {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.11); 
  border: none; 
}



.background-image3 {
  position: fixed;
  background-image: url('/img/wallpaper3.png'); 
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.background-image-wrap3 {
  position: fixed;
  z-index: -9;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(2, 11, 59, 0.13);
}

.transparent-card {
  background-color: rgba(255, 255, 255, 0.5); 
  border: none; 
}


#language-select + button {
  margin-top: -1px;
  background-color: #fff;
  color: #212529;
}

#language-select + button + .dropdown-menu.show {
  max-width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

#language-select + button + .dropdown-menu.show > .inner.show {
  max-height: 200px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dropdown.bootstrap-select.show-tick:has(#language-select + button) {
  width: 100%;
}

.background-image4 {
  position: fixed;
  background-image: url('/img/wallpaper4.png'); 
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.background-image-wrap4 {
  position: fixed;
  z-index: -9;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(2, 11, 59, 0.274);
}
